<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {#Menu de font noir et et te texte blanc#}
        <navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand mr-auto nav" href="{{ path('app_main') }}">Benet Basket Club</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_equipe') }}">Equipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Le Club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand mr-auto nav" href="#">Profils</a>
                </li>
            </ul>
        </navbar>
        </head>
    <body>
        {% block body %}{% endblock %}
    </body>
     

        <!-- Pied de page -->
        <footer class="bg-dark text-white text-center py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>Suivez-nous sur les réseaux sociaux :</h3>
                        <!-- Ajoutez ici vos icônes de réseaux sociaux avec des liens vers vos profils -->
                        <a href="#" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--
        block javascripts %}
            {{ encore_entry_script_tags() }}
         endblock %}-->

</html>
